<h3 data-sourcepos="152:1-152:12" dir="auto"><a id="user-content-activity-1" class="anchor" href="#activity-1" aria-hidden="true"></a></h3>
<ul data-sourcepos="146:1-151:0" dir="auto">
<li data-sourcepos="146:1-146:239">Discussions about licenses and economic models will inevitably give trolls, like on SSPL. This section is to prepare learners for that aspect of the activity, and the trolls it would generate (which would then be a learning opportunity).</li>
<li data-sourcepos="147:1-147:142">As a new contributor in a project you can be confronted to them. It can be useful to be prepared to it, recognize trolls and know how to act</li>
<li data-sourcepos="148:1-149:95">Sociological/anthropological presentation about trolling in free software
<ul data-sourcepos="149:3-149:95">
<li data-sourcepos="149:3-149:95">Present the work of Gabriella Coleman (Quebec) <a href="https://media.ccc.de/v/36c3-10875-hack_curio" rel="nofollow noreferrer noopener" target="_blank">https://media.ccc.de/v/36c3-10875-hack_curio</a></li>
</ul>
</li>
<li data-sourcepos="150:1-151:0">Note: Trolls are very high on Bloom's Taxonomy <a href="https://cft.vanderbilt.edu/guides-sub-pages/blooms-taxonomy/" rel="nofollow noreferrer noopener" target="_blank">https://cft.vanderbilt.edu/guides-sub-pages/blooms-taxonomy/</a> - You have to understand stuff very well to be able to invent traps into which people will fall to make fun of them.</li>
</ul>