<p>Assignee: remi<br />Type: peer-grading activity</p>
<ul>
<li>Ask a question</li>
<ul>
<li>Say "thanks!"</li>
<li>Answer someone's question</li>
</ul>
</ul>
<ul>
<li>Make sure it's an interaction - ie that someone else responds, and that there is a little bit of back and forth. The idea is to break the ice, and keep it going.</li>
<li>
<p>It's a difficult and awkward step. Often, we don't know what to ask, and it feels artificial. But it's useful to figure out how to mingle, and to mingle as early as possible:</p>
<ul>
<li>It's like being in a party for the first time with lots of people we don't know. We go to someone, a glass in our hand, and we engage the conversation. The topic doesn't need to be brilliant, but it's important for the interaction to be appealing to the person we talk to.</li>
<li>The more we wait in our corner without talking to anyone, the more difficult it looks to do that. When we start talking to someone immediately, it might at first be a very superficial conversation, but the earlier we can get to more interesting topics - simply become we get to know each other earlier.</li>
<li>It's also similar to the role of networking when looking for a job. To get recommended for jobs (or aware of good opportunities), we need people to know us, to trust us -- this is also true in the context of an open source project, to be known and trusted enough to warrant the time and attention of maintainers, as well as increase their goodwill to accept our work.</li>
</ul>
</li>
<li>
<p>Someone needs accept our first contribution, which means that someone will need to be paying attention to what we submit when we submit it. And it's more likely to happen with people we know for a longer time: someone we've known even slightly for four weeks is more likely to accept our contribution than someone we've met yesterday. When the time comes to accept our contribution, we need to be already part of the team somehow, even just a little bit. Being around for some time, interacting with other community members, is the simplest way to achieve that.</p>
</li>
<li>
<p>Interacting with the project's community directly also develops our own understanding of the project. We are social animals, so social interaction is a huge part of knowledge acquisition within a group. By having put ourselves out there, by having interacted, we'll also adapt how we contribute, and what we contribute -- making it also likelier to be accepted than if we had waited.</p>
<ul>
<li>It also develops our empathy and understanding of the individuals who manage a project. For example, an domain expert who comes to contribute to a free software project, they might assume that some the project contributors are hobbyists, and might not take them very seriously. But by interacting directly, rather than just looking at the project from a distance, there will be answers and pushback. There will be times where the expert make mistakes too -- so it helps the experts to have a more friendly attitude toward people who are less skilled, the interaction brings everyone closer.</li>
<li>There is also the opposite case, where a new contributor will assume that everyone in the project is an expert, and end up producing code that is too complicated for the project to be able to maintain. Interacting with the project members early and frequently helps to make sure that the other people from the project will be able to understand and maintain the code being produced.</li>
</ul>
</li>
<li>
<p>Ask the students to check if they indeed tried to get in touch ?</p>
</li>
<li>The proof : screenshot ? and update your gitlab project</li>
</ul>
<p></p>