<p>Introduction to the activity (video, 3 min)</p>
<p>Welcome to this first course activity, which will be about « Collaboration ».</p>
<p>(Fade to gource video) In Free, Libre and Open Source software, people try to work collaborately on projects. Sometimes in small teams, sometimes in larger groups, and sometimes with thousands or tens of thousand people. To this day, the linux kernel has seen contributions from more than 21000 different people! Some just contributed to fix a typo, and some made major changes that shaped the project to what it is now.</p>
<p>We will start this introduction with a comparison between development and a completely different field: video games. More precisely, "sandbox" video games allow players some creative freedom and a multiplayer potential that we will use to draw parallels between the play experience, and some of the things you'll go through during your contribution experience.</p>
<p>(fade to Minetest gameplay) Here we will use Minetest, which is similar to a well-known game, but is an open-source project, so it is possible to contribute to it and help it to improve in future versions. We will provide you a world to build in, and your goal will be similar to the course's goal in open-source software: Improve something. You can build a new building, add decoration or improve the design of something already in the world, you will just need to make sure you are leaving the world a better place than what it was when you entered it. Then come and brag about what you improved in the forum!</p>
<p>(end of video)</p>
<p>(text)</p>
<p><caveat> This activity is <em>recommended</em> but ultimately optional and there are very good reasons for which you would like to avoid it: If you're unfamiliar with 3d games, and do not already know how to move around with WASD keys and mouse, you might get frustrated at this activity, or if you do not have a mouse (It's technically possible to play with a touchpad for instance, but the experience will be affected). The goal of this activity is to make you understand how collaboration organically emerges in the right environment, and what can stem from a creative open-ended collective, so if you think you would not benefit from it, you can skip to the debrief video.</caveat></p>