<ul data-sourcepos="200:1-208:0" dir="auto">
<li data-sourcepos="200:1-200:235">Like in the previous activity:</li>
<ul>
<li data-sourcepos="200:1-200:235">Find the name of the organizations, companies, or fiduciary umbrellas.</li>
<li data-sourcepos="200:1-200:235">Associate the people or organizations involved to categories (company, informal group, friends, fiduciary umbrella, etc.) and roles</li>
<li data-sourcepos="200:1-200:235">Research the history of the project</li>
</ul>
<li data-sourcepos="201:1-205:24">Get the information by:
<ul data-sourcepos="202:3-205:24">
<li data-sourcepos="202:3-202:50">Reading the pages in Wikipedia and/or Wikidata</li>
<li data-sourcepos="203:3-203:49">Reading the project website and documentation</li>
<li data-sourcepos="204:3-204:119">Reading and identifying the actors intervening on the different project locations identified in module 2 ("Where?")</li>
<li data-sourcepos="205:3-205:24">Using search engines</li>
</ul>
</li>
<li data-sourcepos="206:1-208:0">Prepare to improve the data read from Wikipedia/Wikidata, by looking at how the article in Wikipedia about the project and the related Wikidata was built, behind the scense:
<ul data-sourcepos="207:3-208:0">
<li data-sourcepos="207:3-208:0">How the article in Wikipedia has changed over time, who were the initial contributors to the discussions, what happens behind the scenes. Not only you consume the data from Wikipedia but you know how it works behind the scenes and how it is indeed a contribution platform.</li>
</ul>
</li>
</ul>