<ul data-sourcepos="134:1-143:0" dir="auto">
<li data-sourcepos="134:1-134:182">Articulate what the interaction between business models imply for contribution: does it make it better or easier to contribute? Or harder? Advantages or disadvantages contributors?</li>
<li data-sourcepos="135:1-139:575">Provide real examples from various types of contributors:
<ul data-sourcepos="136:3-139:575">
<li data-sourcepos="136:3-136:89">Xavier would have stories to tell as a for-profit contributor to a non-profit project</li>
<li data-sourcepos="137:3-137:58">Loic would have other stories to tell (about Red Hat?)</li>
<li data-sourcepos="138:3-138:107">Independent contractors who contributed to Red Hat projects would also have interesting stories to tell</li>
<li data-sourcepos="139:3-139:575">OpenStack: most of the participants were employees of companies who had financial interests in contributing to OpenStack. In this type of context, it's important to understand how the business model of our own company interacts with the business model of OpenStack as a foundation but also all the other stakeholders in OpenStack and who were the biggest influencers of the project. That can decide if their contribution had a chance to make it because it highly dependent on how influential their companies was to the company who was the lead of the project at the time.</li>
</ul>
</li>
<li data-sourcepos="140:1-140:121">Impact of CLAs: amounts to signing away your rights, and makes the work susceptible to a relicensing, like with Elastic</li>
<li data-sourcepos="141:1-141:503">It's important to figure out the impact of the business plan of the project and its actors, and how it relates to you and your contributions. Otherwise you can end up in a situation where you have done everything right, but your contribution still gets nowhere -- just because it doesn't fit the business plan. It will often not be said explicitly in those cases -- people might remain friendly, but your contribution will be overlooked, and will be left unmerged for a long time, without explanation.</li>
<li data-sourcepos="142:1-143:0">Differentiating the people who make decisions from passerbys can be key -- sometimes the most chatty people will not be someone taking the actual decisions afterwards. Just following blindly what that person says might get us nowhere.</li>
</ul>
<p data-sourcepos="144:1-144:58" dir="auto"><a id="user-content-activity-preparation-dealing-with-trolls-or-disputes" class="anchor" href="#activity-preparation-dealing-with-trolls-or-disputes" aria-hidden="true"></a></p>