<script lang="typescript">
  import {createEventDispatcher} from 'svelte';
  import {Button} from '$lib/components/button';
  import {GridWrap, GridWrapModifier, GridColumn, GridColumnModifier} from '$lib/components/grid';

  import {FragmentId} from '$lib/enums/fragment-ids';

  import {MenuState} from './enums';

  const dispatch = createEventDispatcher();
  let menuState = MenuState.Closed;
  let rafId: number;
  let scheduledState: MenuState | undefined;

  $: reactivelyDispatchMenuState(menuState);

  const links = [
    {fragmentId: FragmentId.Course, linkText: 'The course'},
    {fragmentId: FragmentId.WhoIsItFor, linkText: 'Who is it for?'},
    {fragmentId: FragmentId.WhyFloss, linkText: 'Why FLOSS?'},
    {fragmentId: FragmentId.WhoWeAre, linkText: 'Who we are'},
  ];

  export function toggleMenu(event: Event): void {
    event.preventDefault();

    const referenceState = scheduledState || menuState;

    menuState = referenceState === MenuState.Open ? MenuState.Closed : MenuState.Open;

    setScheduledState(undefined);
  }

  export function closeMenu(): void {
    menuState = MenuState.Closed;

    setScheduledState(undefined);
  }

  function reactivelyDispatchMenuState(state: MenuState) {
    dispatchMenuState(state);
  }

  function handleBlurFocus(stateToSet: MenuState) {
    return () => {
      setScheduledState(stateToSet);
      scheduleStateChange();
    };
  }

  function scheduleStateChange() {
    cancelAnimationFrame(rafId);

    rafId = requestAnimationFrame(() => {
      if (scheduledState) {
        menuState = scheduledState;
      }
    });
  }

  function setScheduledState(state?: MenuState) {
    scheduledState = state;
  }

  function dispatchMenuState(state: MenuState) {
    dispatch('menustatechange', state);
  }
</script>

<div>
  <div class="menu--primary-container" data-css-state={menuState}>
    <GridWrap modifiers={[GridWrapModifier.Middle]}>
      <GridColumn
        modifiers={[GridColumnModifier.ShrinkWrapDesk]}
        viewportMap={{portable: '1-of-1'}}
      >
        <ul class="menu menu--primary">
          {#each links as {fragmentId, linkText}}
            <li class="menu__item">
              <a
                on:focus={handleBlurFocus(MenuState.Open)}
                on:blur={handleBlurFocus(MenuState.Closed)}
                on:click={closeMenu}
                href={`#${fragmentId}`}>{linkText}</a
              >
            </li>
          {/each}
        </ul>
      </GridColumn>

      <GridColumn modifiers={[GridColumnModifier.ShrinkWrap]}>
        <div class="u-padding--large--inline--portable">
          <Button
            on:focus={handleBlurFocus(MenuState.Open)}
            on:blur={handleBlurFocus(MenuState.Closed)}
            on:click={closeMenu}
            href={`#${FragmentId.Subscribe}`}>Stay in touch</Button
          >
        </div>
      </GridColumn>
    </GridWrap>
  </div>
</div>
