/*------------------------------------*\
    FOCUS UTILITIES
\*------------------------------------*/
@mixin keyboard-focus-only() {
  @supports selector(:focus-visible) {
    &:focus-visible {
      @content;
    }
  }

  @supports not selector(:focus-visible) {
    &:focus {
      @content;
    }
  }
}
