/*------------------------------------*\
    TRANSITION MODIFIERS
\*------------------------------------*/
@mixin u-link-transition {
  transition: all 150ms ease-in-out;

  &:active {
    transition: none;
  }
}
