/*------------------------------------*\
    $ICONS
\*------------------------------------*/
.icon {
  @include f8-inline-svg-icon;
}

  .icon__inner {
    @include f8-inline-svg-icon__inner;

    & > svg {
      pointer-events: none;
    }
  }
