/*------------------------------------*\
    MARGIN UTILITIES
\*------------------------------------*/
//.u-margin--mega               { @include u-margin--mega;}
//.u-margin--mega--block-start  { @include u-margin--mega--block-start;}
//.u-margin--mega--inline-end   { @include u-margin--mega--inline-end;}
.u-margin--mega--block-end    { @include u-margin--mega--block-end;}
//.u-margin--mega--inline-start { @include u-margin--mega--inline-start;}
//.u-margin--mega--block        { @include u-margin--mega--block;}
//.u-margin--mega--inline       { @include u-margin--mega--inline;}

//.u-margin--kilo               { @include u-margin--kilo;}
//.u-margin--kilo--block-start  { @include u-margin--kilo--block-start;}
//.u-margin--kilo--inline-end   { @include u-margin--kilo--inline-end;}
//.u-margin--kilo--block-end    { @include u-margin--kilo--block-end;}
//.u-margin--kilo--inline-start { @include u-margin--kilo--inline-start;}
//.u-margin--kilo--block        { @include u-margin--kilo--block;}
//.u-margin--kilo--inline       { @include u-margin--kilo--inline;}

//.u-margin--largest               { @include u-margin--largest;}
//.u-margin--largest--block-start  { @include u-margin--largest--block-start;}
//.u-margin--largest--inline-end   { @include u-margin--largest--inline-end;}
.u-margin--largest--block-end    { @include u-margin--largest--block-end;}
//.u-margin--largest--inline-start { @include u-margin--largest--inline-start;}
//.u-margin--largest--block        { @include u-margin--largest--block;}
.u-margin--largest--inline       { @include u-margin--largest--inline;}

//.u-margin--large               { @include u-margin--large;}
//.u-margin--large--block-start  { @include u-margin--large--block-start;}
//.u-margin--large--inline-end   { @include u-margin--large--inline-end;}
//.u-margin--large--block-end    { @include u-margin--large--block-end;}
//.u-margin--large--inline-start { @include u-margin--large--inline-start;}
//.u-margin--large--block        { @include u-margin--large--block;}
//.u-margin--large--inline       { @include u-margin--large--inline;}

//.u-margin               { @include u-margin;}
//.u-margin--block-start  { @include u-margin--block-start;}
//.u-margin--inline-end   { @include u-margin--inline-end;}
.u-margin--block-end    { @include u-margin--block-end;}
//.u-margin--inline-start { @include u-margin--inline-start;}
//.u-margin--block        { @include u-margin--block;}
//.u-margin--inline       { @include u-margin--inline;}

//.u-margin--small               { @include u-margin--small;}
//.u-margin--small--block-start  { @include u-margin--small--block-start;}
//.u-margin--small--inline-end   { @include u-margin--small--inline-end;}
//.u-margin--small--block-end    { @include u-margin--small--block-end;}
//.u-margin--small--inline-start { @include u-margin--small--inline-start;}
//.u-margin--small--block        { @include u-margin--small--block;}
//.u-margin--small--inline       { @include u-margin--small--inline;}

//.u-margin--smaller               { @include u-margin--smaller;}
//.u-margin--smaller--block-start  { @include u-margin--smaller--block-start;}
//.u-margin--smaller--inline-end   { @include u-margin--smaller--inline-end;}
//.u-margin--smaller--block-end    { @include u-margin--smaller--block-end;}
//.u-margin--smaller--inline-start { @include u-margin--smaller--inline-start;}
//.u-margin--smaller--block        { @include u-margin--smaller--block;}
//.u-margin--smaller--inline       { @include u-margin--smaller--inline;}

//.u-margin--smallest               { @include u-margin--smallest;}
//.u-margin--smallest--block-start  { @include u-margin--smallest--block-start;}
//.u-margin--smallest--inline-end   { @include u-margin--smallest--inline-end;}
.u-margin--smallest--block-end    { @include u-margin--smallest--block-end;}
//.u-margin--smallest--inline-start { @include u-margin--smallest--inline-start;}
//.u-margin--smallest--block        { @include u-margin--smallest--block;}
//.u-margin--smallest--inline       { @include u-margin--smallest--inline;}

//.u-margin--none               { @include u-margin--none;}
//.u-margin--none--block-start  { @include u-margin--none--block-start;}
//.u-margin--none--inline-end   { @include u-margin--none--inline-end;}
//.u-margin--none--block-end    { @include u-margin--none--block-end;}
//.u-margin--none--inline-start { @include u-margin--none--inline-start;}
//.u-margin--none--block        { @include u-margin--none--block;}
//.u-margin--none--inline       { @include u-margin--none--inline;}

/*------------------------------------*\
  RESPONSIVE MARGIN UTILITIES
\*------------------------------------*/
.u-margin--inline--palm       {
  @include media-query(palm) {
    @include u-margin--inline;
  }
}


/*------------------------------------*\
  NEGATIVE MARGIN UTILITIES
\*------------------------------------*/
.u-margin--negative--large--block-start--desk {
  @include media-query(desk) {
    @include u-margin--negative--large--block-start;
  }
}
//.u-margin--negative--large--inline-end { @include u-margin--negative--large--inline-end;}
//.u-margin--negative--large--block-end { @include u-margin--negative--large--block-end;}
//.u-margin--negative--large--inline-start { @include u-margin--negative--large--inline-start;}
